@using ICP_SCADA_Blazor.Data

@inject TagoutService TagoutService

<p>控制命令由於下列因素遭到禁止：</p>

<ul>
    @for (int i = 0; i < TagoutList.Count(); i++)
    {
        <li>掛牌編號: @(i+1), 原因: @TagoutList[i].Reason</li>
    }
</ul>

<Button @onclick="onOKay">確定</Button>
@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public TagoutList[] TagoutList { get; set; }


    void onOKay()
    {
        BlazoredModal.Close(ModalResult.Ok<String>(@"OK"));
    }

}