@using ICP_SCADA_Blazor.Data

@inject TagoutService TagoutService

<p>Command is Forbiddened, because:</p>

<ul>
    @foreach (var TagoutItem in TagoutList)
    {
        <li>Tagout Id: @TagoutItem.Index, Reason: @TagoutItem.Reason</li>
    }
</ul>

<Button @onclick="onOKay">Ok</Button>
@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public TagoutList[] TagoutList { get; set; }

    /*protected override async Task OnInitializedAsync()
    {

    }*/

    void onOKay()
    {
        BlazoredModal.Close(ModalResult.Ok<String>(@"OK"));
    }

}