@using ICP_SCADA_Blazor.Data

<p>Set Timming:</p>

<Button @onclick="onOKay">Ok</Button>
@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public int Timming { get; set; }


    void onOKay()
    {
        BlazoredModal.Close(ModalResult.Ok<int>(Timming));
    }

}